nav {
    background:  #150300;
    padding: 10px;
}

ul li {
    list-style: none;
    display: inline;
}

nav a {
    color: white;
    text-decoration: none;
}

.Brand,ul {
    display: inline;
}

ul{
    float:right;
    margin: 0;
}

ul li {
    margin-left: 5px;
    margin-right: 5px;
}

.Brand {
    margin-left: 5px;
    font-size: x-large;
    text-decoration: underline;
}

.Active {
    text-decoration: underline !important;
}


.column {
    float: left;
    width: 50%;
    text-align: center;
    padding-top: 15px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
    margin: 5%;
  }

p {
    word-wrap: break-word;
}

h1{
    font-size: 300%;
    color: rgb(235, 152, 28);
}
h2 {
    font-size: 500%;
}

p {font-size: x-large;}

.column li {
    list-style: none;
    display: inline;
}

.column a {
    text-decoration: none;
    color: rgb(235, 152, 28);
    font-size: 300%;
}

.column .story {
    width: 435;
    height: 315;
    top: 145px;
    left: 550px;
    border-radius: 14px;
}

